#kimchi{
    width: 100%;
    .inner1{
        width: 1180px;
        margin: 80px auto 20px;
        h1{
            font: bold 50px/1 "Noto Serif KR";
            color: #666;
        }
        img{
            width: 250px;
            height: 250px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid violet;
            position: relative;
            z-index: -1;
            opacity: 0.6;
            &[data-index="1"]{
                top: -70px;
            }
            &[data-index="2"]{
                top: 200px;
                right: -650px;
            }
        }
        .txt{
            p{
                width: 100%;
                font: bold 18px/1.7 "Noto Serif KR";
                color: #666;
                position: relative;
                top: -150px;
                padding: 10px;
            }
        }
    }
    .banner{
        width: 100%;
        height: 300px;
        background-image: url(../img/chillies.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .inner3{
            width: 1180px;
            height: 100%;
            background-color: rgba(0,0,0,0.2);
            margin: 0 auto;
            p{
                margin-top: 15px;
                padding: 10px;
                font: normal 17px/1.3 "Noto Serif KR";
                color: #fff;
            }
        }
    }
}
#map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    h1{
        position: absolute;
        top: 1200px;
        font: bold 36px/1 "Noto Serif KR";
        color: #666;
        text-align:center;
        margin-bottom: 50px;
    }
    .txt1{
        width: 300px;
        position: relative;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 50px;
        p{
            margin: 80px 20px;
            font: bold 17px/1.2 "Noto Serif KR";
            color: #777;
            span{
                width: 100px;
                height: 2px;
                color: #000;
            }
        }
    }
    .pic{
        width: 1000px;
        height: 800px;
        img{
            border-radius: 50px;
            margin: 50px 0;
            width: 100%;
            height: 100%;
            object-position: bottom;
            object-fit: cover;
        }
    }
}

#process{
    width: 100%;
    margin-bottom: 730px;
    h1{
        font: bold 36px/1 "Noto Serif KR";
        color: #666;
        text-align:center;
        margin-bottom: 70px;
    }
    .inner4{
        width: 1180px;
        margin: 0 auto;
        article{
            float: left;
            width: 380px;
            margin-right:20px;
            &:last-child{
                margin-right: 0px;
            }
            h2{
                font: bold 30px/1 "Noto Serif KR";
                color: #888;
                margin-bottom: 30px;
                text-align: center;
            }
            .pic{
                overflow: hidden;
                width: 100%;
                height: 200px;
                border-radius: 20px;
                img{
                    width: 100%;
                    height: 200px;
                    border-radius: 20px;
                    margin-bottom: 20px;
                    object-fit: cover;
                    transform: scale(1);
                    transition: 0.5s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
            p{
                margin-top: 20px;
                width: 90%;
                font: bold 16px/1.4 "Noto Serif KR";
                color: #555;
            }
        }
    }
}
.links{
    position: relative;
    width: 1180px;
    height: 400px;
    margin: 10px auto 100px;
    i{
        font-size: 100px;
        color: #888;
        position: relative;
        left: 530px;
        margin-bottom: 50px;
    }
    .wrap{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: top;
        float: left;
        &::after{
            content: "";
            display: block;
            clear: both;
        }
        article{
            width: 250px;
            height: 250px;
            border-radius: 50%;
            margin-left: 60px;
            border: 3px solid orange;
            transform: scale(1);
            overflow: hidden;
            filter: brightness(80%);
            a{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(1);
                    transition: 0.5s;
                    &:hover{
                        opacity: 0.5;
                        transform: scale(1.2);
                    }
                }
            }
            &:nth-of-type(1){
                margin-left: 0px;
            }
        }
    }
}
